<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-language" content="ja">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css; charset=UTF-8">
    <meta http-equiv="content-script-type" content="text/javascript; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="robots" content="index,follow,noodp">
    <meta name="viewport" content="width=device-width">
    <!-- ページ情報-->
    <meta property="og:site_name" content="the blue. 深く、蒼い島へ by MERRELL">
    <meta name="robots" content="noindex">
    <!-- フォントコード--><script>
      (function(d) {
        var config = {
          kitId: 'fnq1cxp',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- css 読み込み-->
    <link href="https://cdn.shopify.com/s/files/1/0674/9936/0303/files/common.css?v=1771554793" rel="stylesheet" type="text/css">
    <link href="https://cdn.shopify.com/s/files/1/0674/9936/0303/files/index.css?v=1771554792" rel="stylesheet" type="text/css">
  </head>
  <body class="theBlueday--day1-2">
    <div stlye="display: none;">
      {{ content_for_header }}
    </div>
    <div stlye="display: none;">
      {{ content_for_layout }}
    </div>
    <header class="theBlueHeader">
      <div class="theBlueHeader__logo"><a class="theBlueHeader__logoA" href="https://merrell.jp/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 15.92"><defs><style>.theBlueHeaderLogo {fill: #fff;stroke-width: 0px;}</style></defs><path class="theBlueHeaderLogo" d="M63.68,15.92l-4.89-6.27c2.68.04,4.92-2.11,4.94-4.79C63.76,1.98,61.21,0,58.15,0h-12.81s0,15.92,0,15.92h4.87s0-6,0-6h3.41s4.54,6,4.54,6h5.52ZM50.19,7.39V2.5s6.03,0,6.03,0c1.43-.02,2.62,1.15,2.57,2.54-.04,1.37-1.28,2.44-2.68,2.35h-5.92Z"/><path class="theBlueHeaderLogo" d="M71.72,9.92h3.41s4.54,6,4.54,6h5.52s-4.89-6.27-4.89-6.27c2.69.04,4.92-2.11,4.94-4.79C85.26,1.98,82.71,0,79.66,0h-12.81v15.92s4.87,0,4.87,0v-6ZM71.7,7.39V2.5s6.03,0,6.03,0c1.43-.02,2.62,1.15,2.57,2.54-.04,1.37-1.28,2.44-2.68,2.35h-5.92Z"/><polygon class="theBlueHeaderLogo" points="42.45 13.48 31.45 13.49 31.45 8.84 40.82 8.84 40.82 6.51 31.49 6.51 31.49 2.43 42.35 2.43 42.35 0 26.59 0 26.59 15.92 42.45 15.92 42.45 13.48"/><polygon class="theBlueHeaderLogo" points="104.15 13.48 93.16 13.49 93.16 8.84 102.52 8.84 102.52 6.51 93.19 6.51 93.19 2.43 104.05 2.43 104.05 0 88.29 0 88.29 15.92 104.15 15.92 104.15 13.48"/><polygon class="theBlueHeaderLogo" points="22.88 0 15.82 0 11.35 12.07 6.34 0 0 0 0 15.92 2.94 15.92 2.94 2.88 7.8 15.92 13.05 15.92 17.9 2.87 17.9 15.92 22.88 15.92 22.88 0"/><polygon class="theBlueHeaderLogo" points="111.87 13.51 111.87 0 107.04 0 107.04 15.92 122.29 15.92 122.29 13.51 111.87 13.51"/><polygon class="theBlueHeaderLogo" points="140 13.51 129.58 13.51 129.58 0 124.75 0 124.75 15.92 140 15.92 140 13.51"/></svg></a></div>
      <div class="theBlueHeader__ttl"><a class="theBlueHeader__ttlA mScroll" href="#">
          <div class="theBlueHeader__theblue theBlueHeader__theblue--white"><img src="/pages/img/common/theblue.png"></div>
          <div class="theBlueHeader__theblue theBlueHeader__theblue--black"><img src="/pages/img/common/theblue_bl.png"></div></a></div>
      <div class="theBlueHeader__buy f-brandon"><a class="theBlueHeader__buyA" href="https://merrell.jp/products/mens_moab-speed-2-gore-tex" target="_blank">BUY NOW</a></div>
    </header>
    <div class="theBlueOpening inview">
      <h1 class="theBlueOpening__ttl inview"><img class="theBlueOpening__ttl__img" src="/pages/img/common/theblue.jpg?1718844289512" alt="the blue."></h1>
      <div class="theBlueOpening__wrapper">
        <div class="theBlueOpening__sticky">
          <div class="theBlueOpening__inner">
            <div class="theBlueOpening__box">
              <div class="theBlueOpening__txtFade">
                <h2 class="theBlueOpening__lead"><img class="theBlueOpening__lead__img" src="/pages/img/common/lead.svg" alt="深く、蒼い島へ"></h2>
                <div class="theBlueOpening__day theBlueOpening__day--1 f-Brandon"><img src="/pages/img/day1-2/opening_day.svg" alt="DAY.1-2"></div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--1">
                <div class="theBlueOpening__itemImges">
                  <div class="theBlueOpening__itemImg theBlueOpening__itemImg--hide"><img src="/pages/img/day1-2/mv_1.jpg?1718844289512">
                    <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-1.jpg"></div>
                  </div>
                  <div class="theBlueOpening__itemImg theBlueOpening__itemImg--1 theBlueOpening__itemImg--day3"><img class="theBlueOpening__scrollImg" src="/pages/img/day1-2/mv_1.jpg?1718844289512">
                    <div class="theBlueOpening__filter"><img class="theBlueOpening__scrollImg theBlueOpening__filter__img" src="/pages/img/common/opening_filter-1.jpg"></div>
                    <div class="theBlueOpening__itemImg theBlueOpening__mvOther">
                      <picture>
                        <source media="(max-width:736px)" srcset="/pages/img/day1-2/mv_2-sp.jpg?1718844289512"><img src="/pages/img/day1-2/mv_2.jpg?1718844289512">
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--2">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_1.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-2.jpg"></div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--3">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_2.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-3.jpg"></div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--4">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_3.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-4.jpg"></div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--5">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_4.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-5.jpg"></div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--6">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_5.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-6.jpg"></div>
                </div>
              </div>
              <div class="theBlueOpening__item theBlueOpening__item--7">
                <div class="theBlueOpening__itemImg theBlueOpening__itemImgOther"><img src="/pages/img/day1-2/opening_6.jpg">
                  <div class="theBlueOpening__filter"><img class="theBlueOpening__filter__img" src="/pages/img/common/opening_filter-7.jpg"></div>
                </div>
              </div>
              <div class="theBlueMv">
                <h2 class="theBlueMv__lead theBlueMv__lead--day1-2"><img class="theBlueMv__lead__img" src="/pages/img/common/lead_white.svg" alt="深く、蒼い島へ"></h2>
                <div class="theBlueMv__txtBox">
                  <div class="theBlueMv__ttl"><img class="theBlueMv__ttl__img" src="/pages/img/common/theblue_white.svg" alt="the blue."></div>
                  <div class="theBlueMv__dsc"><img class="theBlueMv__ttl__img" src="/pages/img/common/mv_dsc.svg" alt="MOAB SPEED 2 GORE-TEX®といく、2泊3日の屋久島への旅"></div>
                  <div class="theBlueMv__days theBlueMv__days--day1-2">
                    <div class="theBlueMv__day theBlueMv__day--1_1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.62 27.6"><defs><style>.theBlueMvDaySvg1{fill:#fff;stroke-width:0px;}</style></defs><path class="theBlueMvDaySvg1" d="m0,7.42c0-.28.22-.53.5-.53h6.64c5.4,0,9.83,4.4,9.83,9.77s-4.42,9.83-9.83,9.83H.5c-.28,0-.5-.25-.5-.53V7.42Zm6.8,15.65c3.64,0,6.3-2.74,6.3-6.41s-2.66-6.38-6.3-6.38h-3.19v12.8h3.19Z"/>1<path class="theBlueMvDaySvg1" d="m19.24,25.76L27.94,6.91c.08-.17.22-.31.48-.31h.28c.28,0,.39.14.48.31l8.62,18.84c.17.36-.06.73-.48.73h-2.44c-.42,0-.62-.17-.81-.56l-1.37-3.02h-8.37l-1.37,3.02c-.11.28-.36.56-.81.56h-2.44c-.42,0-.64-.36-.48-.73Zm12.1-5.96l-2.8-6.16h-.08l-2.74,6.16h5.63Z"/>1<path class="theBlueMvDaySvg1" d="m45.22,17.05l-6.38-9.35c-.22-.36,0-.81.45-.81h2.86c.22,0,.36.14.45.25l4.48,6.44,4.48-6.44c.08-.11.22-.25.45-.25h2.88c.45,0,.67.45.45.81l-6.47,9.32v8.93c0,.28-.25.53-.53.53h-2.58c-.31,0-.53-.25-.53-.53v-8.9Z"/>1<path class="theBlueMvDaySvg1" d="m59.92,22.14c1.26,0,2.32,1.06,2.32,2.32s-1.06,2.3-2.32,2.3-2.3-1.04-2.3-2.3,1.04-2.32,2.3-2.32Z"/>1<path class="theBlueMvDaySvg1" d="m71.94,7.68l-3.52.76c-.36.08-.76-.16-.8-.52l-.24-1.96c-.04-.32.04-.56.2-.72l5.76-4.84h2.8c.4,0,.72.36.72.76v25.68c0,.4-.32.76-.72.76h-3.44c-.44,0-.76-.36-.76-.76V7.68Z"/>1<path class="theBlueMvDaySvg1" d="m87.94,17.2v-2.68c0-.44.32-.76.76-.76h8.92c.44,0,.76.32.76.76v2.68c0,.4-.32.72-.76.72h-8.92c-.44,0-.76-.32-.76-.72Z"/>1<path class="theBlueMvDaySvg1" d="m104.18,25.92c2.64-3.2,7.68-9.76,10.36-13.32,1.24-1.52,2.04-3.08,2.04-4.44,0-1.8-1.36-3.64-4.24-3.64-1.92,0-3.56,1.36-4.48,2.36-.32.32-.76.32-1.08,0l-1.92-1.92c-.24-.24-.32-.72-.04-1.04,0,0,3.12-3.92,7.88-3.92,5.72,0,8.92,3.64,8.92,7.96,0,2.6-1.12,4.24-2.68,6.48-1.72,2.44-4.76,6.2-6.88,8.88h8.64c.4,0,.76.36.76.76v2.76c0,.4-.36.76-.76.76h-15.76c-.44,0-.76-.36-.76-.76v-.92Z"/>1</svg></div>
                    <div class="theBlueMv__day theBlueMv__day--slash1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.71 34.71"><defs><style>.theBlueMvDaySlash{fill:none;opacity:.7;stroke:#fff;stroke-miterlimit:10;}</style></defs><line class="theBlueMvDaySlash" x1="34.35" y1=".35" x2=".35" y2="34.35"/></svg></div>
                    <div class="theBlueMv__day theBlueMv__day--1_2">
                      <div class="theBlueMv__dayClose"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.05 21"><defs><style>.theBlueMvDaySvg3-2{fill:#fff;stroke-width:0px;}</style></defs><g class="theBlueMvDaySvg3"><path class="theBlueMvDaySvg3-2" d="m0,5.25c0-.21.17-.4.38-.4h4.98c4.05,0,7.37,3.3,7.37,7.33s-3.32,7.37-7.37,7.37H.38c-.21,0-.38-.19-.38-.4V5.25Zm5.1,11.74c2.73,0,4.72-2.06,4.72-4.81s-1.99-4.79-4.72-4.79h-2.39v9.6h2.39Z"/><path class="theBlueMvDaySvg3-2" d="m14.85,19l6.53-14.13c.06-.13.17-.23.36-.23h.21c.21,0,.29.1.36.23l6.47,14.13c.13.27-.04.55-.36.55h-1.83c-.31,0-.46-.13-.61-.42l-1.03-2.27h-6.28l-1.03,2.27c-.08.21-.27.42-.61.42h-1.83c-.31,0-.48-.27-.36-.55Zm9.07-4.47l-2.1-4.62h-.06l-2.06,4.62h4.22Z"/><path class="theBlueMvDaySvg3-2" d="m34.75,12.47l-4.79-7.01c-.17-.27,0-.61.34-.61h2.14c.17,0,.27.1.34.19l3.36,4.83,3.36-4.83c.06-.08.17-.19.34-.19h2.16c.34,0,.5.34.34.61l-4.85,6.99v6.7c0,.21-.19.4-.4.4h-1.93c-.23,0-.4-.19-.4-.4v-6.68Z"/><path class="theBlueMvDaySvg3-2" d="m45.99,16.29c.94,0,1.74.8,1.74,1.74s-.8,1.72-1.74,1.72-1.72-.78-1.72-1.72.78-1.74,1.72-1.74Z"/><path class="theBlueMvDaySvg3-2" d="m52.94,17.58l1.53-1.47c.27-.24.54-.24.78,0,.09.12,1.86,1.62,3.69,1.62,1.62,0,3.18-1.17,3.18-2.82,0-1.56-1.44-2.97-4.14-2.97h-1.68c-.33,0-.57-.24-.57-.6v-1.89c0-.39.21-.6.57-.6h1.68c2.46,0,3.72-1.23,3.72-2.76,0-1.65-1.38-2.76-2.91-2.76s-2.52.84-3.03,1.44c-.21.24-.54.27-.81.03l-1.47-1.38c-.24-.21-.21-.57,0-.78,0,0,2.28-2.64,5.64-2.64s6.39,2.13,6.39,5.49c0,2.31-1.74,4.05-3.09,4.68v.09c1.41.6,3.63,2.22,3.63,4.89,0,3.39-2.76,5.85-6.9,5.85-3.75,0-5.58-1.89-6.24-2.67-.18-.21-.15-.54.03-.75Z"/></g></svg></div>
                    </div>
                  </div>
                </div>
                <div class="theBlueOpening__scroller theBlueOpening__scroller--2"><a class="theBlueOpening__scrollerA mScroll" href="#lead">
                    <div class="theBlueOpening__scrollerTxt pc"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.28 35.16"><defs><style>.theBlueOpeningScroller1{fill:#fff;stroke-width:0px;}</style></defs><path class="theBlueOpeningScroller1" d="m7.19,4.83c.92-.24,1.83-.63,1.83-1.95,0-1.09-.8-1.47-1.53-1.47-.97,0-1.46.62-2.06,1.78-.87,1.68-1.51,2.41-2.84,2.41-1.47,0-2.59-1.27-2.59-3.08C0,1.68.24.95.46.38c.39-.11,1.34-.28,2.1-.38l.11.43C1.74.71.52,1.33.52,2.79c0,1.01.7,1.62,1.61,1.62,1.08,0,1.51-.57,2.19-1.81.8-1.47,1.47-2.3,2.77-2.3s2.42,1.04,2.42,2.89c0,.78-.21,1.55-.27,1.85-.5.06-1.06.11-1.98.22l-.08-.43Z"/><path class="theBlueOpeningScroller1" d="m1.47,12.69C.66,12.07.04,11.13.04,10.29c0-1.78,1.44-2.83,2.94-2.83,1.11,0,2.03.48,2.75,1.41.57.74.8,1.58.8,2.13,0,.63-.2,1.09-.38,1.3-.15.2-.25.22-.41.22-.34,0-.63-.35-.63-.5,0-.07.03-.13.14-.27.39-.43.59-.91.59-1.41,0-.92-.78-1.74-2.24-1.74-1.95-.01-2.59,1.32-2.59,2.13,0,.59.15,1.06.77,1.71l-.31.24Z"/><path class="theBlueOpeningScroller1" d="m.21,17.31v-3.22h.39c.08.88.15.97,1.06.97h2.91c.92,0,.97-.06,1.06-.87h.35c.11.69.28,1.32.57,1.98h-1.54c.73.49,1.5,1.08,1.5,1.78,0,.52-.32.81-.67.81-.32,0-.63-.22-.77-.48-.08-.14-.07-.25.03-.36.21-.21.35-.38.35-.63,0-.29-.43-.81-1.15-1.12H1.68c-.92,0-.99.07-1.08,1.15H.21Z"/><path class="theBlueOpeningScroller1" d="m6.53,23.17c0,1.75-1.33,3.05-3.14,3.05C1.12,26.23.04,24.54.04,23.17c0-1.93,1.55-3.11,3.12-3.11,2.28,0,3.36,1.78,3.36,3.11Zm-.48-.17c0-.85-.83-1.62-2.45-1.62-1.78,0-3.07.78-3.07,1.93,0,.87.63,1.6,2.55,1.6,1.64,0,2.97-.67,2.97-1.91Z"/><path class="theBlueOpeningScroller1" d="m.21,27.71h.39c.08.9.15,1.01,1.08,1.01h6.71c.85,0,.94-.07,1.05-.97h.36c.08.76.31,1.62.48,2.07H1.68c-.92,0-.99.08-1.08.99H.21v-3.11Z"/><path class="theBlueOpeningScroller1" d="m.21,32.05h.39c.08.9.15,1.01,1.08,1.01h6.71c.85,0,.94-.07,1.05-.97h.36c.08.76.31,1.62.48,2.07H1.68c-.92,0-.99.08-1.08.99H.21v-3.11Z"/></svg></div>
                    <div class="theBlueOpening__scrollerArrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 20.77"><defs><style>.theBlueOpeningScrollerArrow{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}</style></defs><polyline class="theBlueOpeningScrollerArrow" points=".5 .5 .5 19.7 .5 20.27 6.5 14.27"/></svg></div></a></div>
              </div>
              <div class="theBlueOpening__scroller theBlueOpening__scroller--1"><a class="theBlueOpening__scrollerA" href="#lead">
                  <div class="theBlueOpening__scrollerTxt pc"><svg id="Design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.28 35.16"><defs><style>.theBlueOpeningScroller2{fill:#052b33;stroke-width:0px;}</style></defs><path class="theBlueOpeningScroller2" d="m7.19,4.83c.92-.24,1.83-.63,1.83-1.95,0-1.09-.8-1.47-1.53-1.47-.97,0-1.46.62-2.06,1.78-.87,1.68-1.51,2.41-2.84,2.41-1.47,0-2.59-1.27-2.59-3.08C0,1.68.24.95.46.38c.39-.11,1.34-.28,2.1-.38l.11.43C1.74.71.52,1.33.52,2.79c0,1.01.7,1.62,1.61,1.62,1.08,0,1.51-.57,2.19-1.81.8-1.47,1.47-2.3,2.77-2.3s2.42,1.04,2.42,2.89c0,.78-.21,1.55-.27,1.85-.5.06-1.06.11-1.98.22l-.08-.43Z"/><path class="theBlueOpeningScroller2" d="m1.47,12.69C.66,12.07.04,11.13.04,10.29c0-1.78,1.44-2.83,2.94-2.83,1.11,0,2.03.48,2.75,1.41.57.74.8,1.58.8,2.13,0,.63-.2,1.09-.38,1.3-.15.2-.25.22-.41.22-.34,0-.63-.35-.63-.5,0-.07.03-.13.14-.27.39-.43.59-.91.59-1.41,0-.92-.78-1.74-2.24-1.74-1.95-.01-2.59,1.32-2.59,2.13,0,.59.15,1.06.77,1.71l-.31.24Z"/><path class="theBlueOpeningScroller2" d="m.21,17.31v-3.22h.39c.08.88.15.97,1.06.97h2.91c.92,0,.97-.06,1.06-.87h.35c.11.69.28,1.32.57,1.98h-1.54c.73.49,1.5,1.08,1.5,1.78,0,.52-.32.81-.67.81-.32,0-.63-.22-.77-.48-.08-.14-.07-.25.03-.36.21-.21.35-.38.35-.63,0-.29-.43-.81-1.15-1.12H1.68c-.92,0-.99.07-1.08,1.15H.21Z"/><path class="theBlueOpeningScroller2" d="m6.53,23.17c0,1.75-1.33,3.05-3.14,3.05C1.12,26.23.04,24.54.04,23.17c0-1.93,1.55-3.11,3.12-3.11,2.28,0,3.36,1.78,3.36,3.11Zm-.48-.17c0-.85-.83-1.62-2.45-1.62-1.78,0-3.07.78-3.07,1.93,0,.87.63,1.6,2.55,1.6,1.64,0,2.97-.67,2.97-1.91Z"/><path class="theBlueOpeningScroller2" d="m.21,27.71h.39c.08.9.15,1.01,1.08,1.01h6.71c.85,0,.94-.07,1.05-.97h.36c.08.76.31,1.62.48,2.07H1.68c-.92,0-.99.08-1.08.99H.21v-3.11Z"/><path class="theBlueOpeningScroller2" d="m.21,32.05h.39c.08.9.15,1.01,1.08,1.01h6.71c.85,0,.94-.07,1.05-.97h.36c.08.76.31,1.62.48,2.07H1.68c-.92,0-.99.08-1.08.99H.21v-3.11Z"/></svg></div>
                  <div class="theBlueOpening__scrollerArrow"><svg id="Design" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 20.77"><defs><style>.theBlueOpeningScrollerArrow2{fill:none;stroke:#052b33;stroke-linecap:round;stroke-linejoin:round;}</style></defs><polyline class="theBlueOpeningScrollerArrow2" points=".5 .5 .5 19.7 .5 20.27 6.5 14.27"/></svg></div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper" style="background-image: url(https://cdn.shopify.com/s/files/1/0674/9936/0303/files/background.png?v=1771554887)">
      <div class="theBlueLead" id="lead">
        <div class="theBlueLead__img inview">
          <picture>
            <source media="(max-width:736px)" srcset="/pages/img/day1-2/lead-sp.jpg"><img src="/pages/img/day1-2/lead.jpg">
          </picture>
        </div>
        <div class="theBlueLead__txtBox theBlueLead__txtBox--1_2 inview">
          <p class="theBlueLead__txt">多雨多湿な屋久島は、<br class="sp">靴にとってはなかなかタフな環境だ。<br>そんな屋久島に降り立ったのは、<br class="sp">MERRELLの新作<br>「モアブ スピード 2 ゴアテックス®」を履いたモデルの増田翔くん。<br>シューズを試すというのが旅のA面だが、<br class="sp">深い森歩きと<br class="pc">開けた景色の中の縦走を<br class="sp">楽しむというB面もある。<br>計画当初は、九州最高峰である<br>宮之浦岳を目指す予定だったのだが。</p>
        </div>
      </div>
      <div class="theBlueProf">
        <div class="theBlueProf__imgBox inview">
          <div class="theBlueProf__img"><img src="/pages/img/day1-2/prof.jpg"></div>
          <div class="theBlueProf__traveler"><img src="/pages/img/common/prof_tr.svg" alt="Traveler"></div>
        </div>
        <div class="theBlueProf__txtBox inview">
          <div class="theBlueProf__box inview">
            <p class="theBlueProf__nameEn">Sho Masuda</p>
            <p class="theBlueProf__nameJa">増田 翔</p>
            <p class="theBlueProf__txt f-aktiv">モデル。昨年、アメリカを縦断するパシフィック・クレスト・トレイル（PCT）を約4ヶ月かけ、スルーハイクで歩ききった。その長い旅の様子は、YAMAHACKで掲載中。</p>
          </div>
          <div class="theBlueProf__box theBlueProf__box--move inview">
            <p class="theBlueProf__nameEn">Takashi Sakurai</p>
            <p class="theBlueProf__nameJa">櫻井 卓</p>
            <p class="theBlueProf__txt f-aktiv">ライター。国内外の国立公園を巡ることをライフワークとし、アメリカを中心に多くの国立公園を訪れている。特にヨセミテ近辺がお気に入りで、毎年のように通っている。</p>
          </div>
        </div>
      </div>
      <div class="theBlueCont">
        <div class="theBlueCont__door theBlueCont__door--1 theBlueCont__doorSlider inview">
          <div class="Slider">
            <div class="Slider__box">
              <div class="Slider__slides">
                <div class="Slider__slide">
                  <picture>
                    <source media="(max-width:736px)" srcset="/pages/img/day1-2/door_1_1-sp.jpg"><img src="/pages/img/day1-2/door_1_1.jpg">
                  </picture>
                </div>
                <div class="Slider__slide">
                  <picture>
                    <source media="(max-width:736px)" srcset="/pages/img/day1-2/door_1_2-sp.jpg"><img src="/pages/img/day1-2/door_1_2.jpg">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="theBlueCont__box theBlueCont__box--1">
          <div class="theBlueCont__txtBox inview">
            <p class="theBlueCont__day f-brandon"> <span>D</span><span>A</span><span>Y</span><span>&nbsp;</span><span>1</span>
            </p>
            <p class="theBlueCont__place f-aktiv">淀川小屋</p>
            <h2 class="theBlueCont__ttl">屋久島の洗礼。</h2>
            <p class="theBlueCont__txt theBlueCont__txt--1 inview">完全に、裏目にでた。<br>2日目早朝から宮之浦岳に行く予定だったから初日の宿は取らず、淀川小屋でテント泊をすればいいと思っていたのだ。<br class="sp">ところがいま、めちゃくちゃ雨が降っている。<br><br>屋久島はひと月に35日雨が降ると冗談交じりに言われたりするけれど、まんざら嘘というわけでもない。年間降水量は山間部だと1万mmを超えることもよくある。全国平均の2倍以上だ。<br><br>宿を取っていないものだから、撤退もできない。<br>明日は回復してくれるだろうか。予報では絶望的だ。<br class="sp">雨がテントを叩き続けている。</p>
            <div class="theBlueCont__phBox sp">
                    <div class="theBlueCont__phs inview theBlueCont__phs--1">
                      <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_1_1_1.jpg"></div>
                    </div>
                    <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--2" data-duration="1500" data-interval="4000">
                      <div class="Slider">
                        <div class="Slider__box">
                          <div class="theBlueCont__phs Slider__slides theBlueCont__phs--2">
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_1.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_2.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_3.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_4.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
            <p class="theBlueCont__txt theBlueCont__txt--2 inview"><br class="pc">今回の旅の目的は2つあった。<br>ひとつ目は屋久島でメレルのモアブ スピード 2 ゴアテックス®を試すこと。<br><br class="sp">「これだけ降られてますけど、まだ靴下はドライです」<br><br>あらかじめ足慣らしのために山に行ったというモデルの増田 翔くんが言う。<br><br>もうひとつはPCTハイカーの増田くんに屋久島を見て欲しかった。<br>PCTとは、パシフィック・クレスト・トレイルの略。アメリカ西海岸にあるロングトレイルで、メキシコ国境からカナダ国境まで、文字通りアメリカを縦断している。彼は昨年、4ヶ月かけてそれを踏破しているのだ。<br><br>アメリカを旅してきた彼が、日本屈指の多様性を持つ屋久島を訪れたらなにを感じるのか。<br><br>さらに雨が強くなる。こうなるとテント泊は苦行でしかない。混んでるところ申し訳ないけれど、小屋に逃げ込むことにする。</p>
            <div class="theBlueCont__phBox sp">
                    <div class="theBlueCont__phs inview theBlueCont__phs--3">
                      <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_1_3_1.jpg"></div>
                    </div>
            </div>
          </div>
          <div class="theBlueCont__phBox pc">
                  <div class="theBlueCont__phs inview theBlueCont__phs--1">
                    <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_1_1_1.jpg"></div>
                  </div>
                  <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--2" data-duration="1500" data-interval="4000">
                    <div class="Slider">
                      <div class="Slider__box">
                        <div class="theBlueCont__phs Slider__slides theBlueCont__phs--2">
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_1.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_2.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_3.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_1_2_4.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theBlueCont__phs inview theBlueCont__phs--3">
                    <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_1_3_1.jpg"></div>
                  </div>
          </div>
        </div>
        <div class="theBlueCont__line"></div>
        <div class="theBlueCont__door theBlueCont__door--2 inview"><img src="/pages/img/day1-2/door_2.jpg"></div>
        <div class="theBlueCont__box theBlueCont__box--2">
          <div class="theBlueCont__txtBox inview">
            <p class="theBlueCont__day f-brandon"> <span>D</span><span>A</span><span>Y</span><span>&nbsp;</span><span>2</span>
            </p>
            <p class="theBlueCont__place f-aktiv">ヤクスギランド</p>
            <h2 class="theBlueCont__ttl">雨なら雨で。</h2>
            <p class="theBlueCont__txt theBlueCont__txt--1 inview">翌朝、ドーンという落雷の音で目が覚める。<br>雨も相変わらずだし、上の方は風も強そうだ。<br>このまま宮之浦岳に突っ込んでもなにも楽しくない。<br><br>小屋のすぐそばの淀川まで出てみると、かなり増水している。ただ、それでも透明度は変わっていないというのが、いかにも水の島、屋久島らしい。<br><br>屋久島の雨というものはそんなに悪いものでもない。場所を変えてしまえばいいのだ。<br>と言うわけで予定変更。宮之浦岳のピークや縄文杉だけがこの島の魅力ではない。<br>稜線に出るのではなく、深い森を堪能しにいくことにする。<br>こういう風にプランを変更しやすいのも多様な自然がある屋久島ならではかもしれない。<br><br>周囲約105kmで東京23区とほぼ同じくらいの大きさだけれど、真ん中に九州最高峰である宮之浦岳をはじめ、多くの高峰が聳えている関係で、地域や標高によって天候がかなり変わるし、なんだったら雨が似合う場所だってたくさんある。<br><br>いったんさくっと下山してクルマでヤクスギランドに向かう。<br>さくっと、とは言ったけれど淀川小屋から登山口までの1時間の中にも魅力はたっぷりある。立派な屋久杉もいくつかあるんだけれど、そのほとんどに名前は付いていない。</p>
            <div class="theBlueCont__phBox sp">
                    <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--1" data-duration="2000" data-interval="4000">
                      <div class="Slider">
                        <div class="Slider__box">
                          <div class="theBlueCont__phs Slider__slides theBlueCont__phs--1">
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_1_1.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_1_2.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--2" data-duration="1500" data-interval="8000">
                      <div class="Slider">
                        <div class="Slider__box">
                          <div class="theBlueCont__phs Slider__slides theBlueCont__phs--2">
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_2_1.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_2_2.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
            <p class="theBlueCont__txt theBlueCont__txt--2 inview"><br class="pc">それにしても、ヤクスギランドのポテンシャルの高さよ。じつはここ、登山者は意外と通過してしまう穴場なのだ。ほとんどは木道で整備された歩きやすい道なんだけど、奥のほうに行くとけっこうハードな道になり、ワイルド感が増してくる。ヤクスギランドの奥のほうで本格的な装備の人を見ると、分かってますね、と目配せをしたくなる。<br>もちろん、植生も豊かだし巨木も数多い。でも侮られがちなのは、ランドというネーミングのせい？ なにごともパッと見で判断してはいけないのだ。<br><br>ピークはないがかなりしっかり歩ける場所というのも気に入っている理由のひとつだ。そういえば今回の旅ではピークを踏むことはなさそうだ。<br>でも良いのだ。山の楽しみはピークハントだけじゃない。<br><br>「アメリカのロングトレイルもピークを踏むことはほとんどないですから。僕も水平移動のほうが好みだったりします」<br><br>ヤクスギランドの奥。太忠岳へ向かう登山道の途中に天文の森という場所がある。ここがヤクスギランドのハイライトだと思っている。月まで行けるほどの距離、屋久島を歩いてきたという知り合いのガイドさんも1番好きな場所だと言っていた。<br><br>「ここ、空気が変わりましたね」<br><br>ここはいわゆる複層林と呼ばれる場所。さまざまな樹種、樹齢の木々が暮らす、複雑系の森なのだ。</p>
          </div>
          <div class="theBlueCont__phBox pc">
                  <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--1" data-duration="2000" data-interval="4000">
                    <div class="Slider">
                      <div class="Slider__box">
                        <div class="theBlueCont__phs Slider__slides theBlueCont__phs--1">
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_1_1.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_1_2.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--2" data-duration="1500" data-interval="8000">
                    <div class="Slider">
                      <div class="Slider__box">
                        <div class="theBlueCont__phs Slider__slides theBlueCont__phs--2">
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_2_1.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_2_2_2.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <div class="theBlueCont__ticker inview">
          <div class="theBlueCont__tickerWrapper">
            <div class="theBlueCont__tickerImages theBlueCont__tickerImages--1">
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--1"><img src="/pages/img/day1-2/ticker_1.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--2"><img src="/pages/img/day1-2/ticker_2.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--3"><img src="/pages/img/day1-2/ticker_3.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--4"><img src="/pages/img/day1-2/ticker_4.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--5"><img src="/pages/img/day1-2/ticker_5.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--6"><img src="/pages/img/day1-2/ticker_6.jpg"></div>
            </div>
            <div class="theBlueCont__tickerImages theBlueCont__tickerImages--2">
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--7"><img src="/pages/img/day1-2/ticker_7.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--8"><img src="/pages/img/day1-2/ticker_8.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--9"><img src="/pages/img/day1-2/ticker_9.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--10"><img src="/pages/img/day1-2/ticker_10.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--11"><img src="/pages/img/day1-2/ticker_11.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--12"><img src="/pages/img/day1-2/ticker_12.jpg"></div>
            </div>
          </div>
          <div class="theBlueCont__tickerWrapper">
            <div class="theBlueCont__tickerImages theBlueCont__tickerImages--1">
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--1"><img src="/pages/img/day1-2/ticker_1.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--2"><img src="/pages/img/day1-2/ticker_2.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--3"><img src="/pages/img/day1-2/ticker_3.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--4"><img src="/pages/img/day1-2/ticker_4.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--5"><img src="/pages/img/day1-2/ticker_5.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--6"><img src="/pages/img/day1-2/ticker_6.jpg"></div>
            </div>
            <div class="theBlueCont__tickerImages theBlueCont__tickerImages--2">
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--7"><img src="/pages/img/day1-2/ticker_7.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--8"><img src="/pages/img/day1-2/ticker_8.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--9"><img src="/pages/img/day1-2/ticker_9.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--10"><img src="/pages/img/day1-2/ticker_10.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--11"><img src="/pages/img/day1-2/ticker_11.jpg"></div>
              <div class="theBlueCont__tickerImage theBlueCont__tickerImage--12"><img src="/pages/img/day1-2/ticker_12.jpg"></div>
            </div>
          </div>
        </div>
        <div class="theBlueCont__line"></div>
        <div class="theBlueCont__door theBlueCont__door--3 theBlueCont__doorSlider inview">
          <div class="Slider">
            <div class="Slider__box">
              <div class="Slider__slides">
                <div class="Slider__slide">
                  <picture>
                    <source media="(max-width:736px)" srcset="/pages/img/day1-2/door_3_1-sp.jpg"><img src="/pages/img/day1-2/door_3_1.jpg">
                  </picture>
                </div>
                <div class="Slider__slide">
                  <picture>
                    <source media="(max-width:736px)" srcset="/pages/img/day1-2/door_3_2-sp.jpg"><img src="/pages/img/day1-2/door_3_2.jpg">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="theBlueCont__box theBlueCont__box--3">
          <div class="theBlueCont__txtBox inview">
            <p class="theBlueCont__day f-brandon"> <span>D</span><span>A</span><span>Y</span><span>&nbsp;</span><span>2</span>
            </p>
            <p class="theBlueCont__place f-aktiv">大川の滝</p>
            <h2 class="theBlueCont__ttl">雨のご褒美。</h2>
            <p class="theBlueCont__txt theBlueCont__txt--1 inview">たっぷり3時間の森歩きを堪能したけれど、まだ雨は降り続いている。さてどうしたものか。<br><br>「雨の日は大川の滝に行け」<br><br>そうだった。以前ガイドさんから聞いたことがあった。
              夕闇迫るなか、南へとクルマを走らせる。<br><br>何度か訪れた場所だけど、畏怖すら覚える水量だ。この大川の滝は滝壺付近まで入れるんだけど、いまはとんでもない飛沫を巻き上げている。勇敢にも増田君が突入。両手を広げて全身に飛沫を浴びている。<br><br>「すごい。滝の質量を感じますね」<br><br>飛沫で全身を濡らしながら満面の笑みだ。<br>そう。屋久島には雨のご褒美だってあるのだ。<br><br>「せっかく下りてきたから、なにか美味いもの食べに行きましょう！」<br><br>水も滴る良いオトコと化した増田くんが言う。
            </p>
            <div class="theBlueCont__phBox sp">
                    <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--1" data-duration="2000" data-interval="4000">
                      <div class="Slider">
                        <div class="Slider__box">
                          <div class="theBlueCont__phs Slider__slides theBlueCont__phs--1">
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_1.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_2.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_3.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="theBlueCont__phs inview theBlueCont__phs--2">
                      <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_3_2_1.jpg"></div>
                    </div>
            </div>
            <p class="theBlueCont__txt theBlueCont__txt--2 inview"><br class="pc">焼き肉屋で、ビールを飲みながら増田くんのアメリカ旅の話を聞かせてもらう。<br><br>「風景として印象に残っているのは、カリフォルニア南部を歩いてたときの空です。茶色の砂漠が広がる地平線の先に、パキーンと青い空が広がっていて。こんな景色は見たことがなかったんですけど、感動だけじゃない複雑な感情が押し寄せてきたんですよね。あと、PCTを歩いてる時ってボーッと考え事をする時間も多くて、そういう時は旅のタイトルを考えたりしてましたね。」<br><br>それで？ 良いタイトルは思い付いた？ と聞くとちょっと照れくさそうに答える。<br><br>「“blue”。南カリフォルニアの広大な空、ハイシエラの湖、オレゴンの深い森。夕闇が迫るときの藍色。他にもいろんな青がありました。一人旅の寂しさもあったので、心情的なブルーもあって。今日の屋久島でも、同じようにいろんな青を感じています」<br><br>たしかに。雨に煙った巨樹の森は、なんだかちょっと青いフィルターが掛かったような不思議な色をしているし、大川の滝の舞い上がるミストにも青の気配があった。それぞれ個別に見たら葉は緑だし、幹は茶だし、水は透明なはずなんだけれど、そこにさらに靄が入ったりして……。いろんな要素が複雑に絡み合うことで、青みが乗ってくるのかもしれない。<br><br>「blue」。うん。良いタイトルだ。今回、使っても良い？ と彼に聞くと満面の笑みで「ぜひ！」と言ってくれた。 </p>
            <div class="theBlueCont__phBox sp">
                    <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--3" data-duration="1500" data-interval="4000">
                      <div class="Slider">
                        <div class="Slider__box">
                          <div class="theBlueCont__phs Slider__slides theBlueCont__phs--3">
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_1.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_2.jpg"></div>
                            <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_3.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="theBlueCont__phs inview theBlueCont__phs--4">
                      <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_3_4_1.jpg"></div>
                    </div>
            </div>
          </div>
          <div class="theBlueCont__phBox pc">
                  <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--1" data-duration="2000" data-interval="4000">
                    <div class="Slider">
                      <div class="Slider__box">
                        <div class="theBlueCont__phs Slider__slides theBlueCont__phs--1">
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_1.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_2.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_1_3.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theBlueCont__phs inview theBlueCont__phs--2">
                    <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_3_2_1.jpg"></div>
                  </div>
                  <div class="theBlueCont__phs theBlueCont__phSlider inview theBlueCont__phs--3" data-duration="1500" data-interval="4000">
                    <div class="Slider">
                      <div class="Slider__box">
                        <div class="theBlueCont__phs Slider__slides theBlueCont__phs--3">
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_1.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_2.jpg"></div>
                          <div class="theBlueCont__ph Slider__slide"><img src="/pages/img/day1-2/ph_3_3_3.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theBlueCont__phs inview theBlueCont__phs--4">
                    <div class="theBlueCont__ph"><img src="/pages/img/day1-2/ph_3_4_1.jpg"></div>
                  </div>
          </div>
        </div>
      </div>
      <div class="theBlueItemDetail">
        <div class="theBlueItemDetail__img"><img src="/pages/img/day1-2/itemDetail_ph.jpg"></div>
        <div class="theBlueItemDetail__txtBox">
          <p class="theBlueItemDetail__itemNameEn">MOAB SPEED 2 GORE-TEX®</p>
          <p class="theBlueItemDetail__itemNameJa f-aktiv">モアブ スピード 2 ゴアテックス®</p>
          <p class="theBlueItemDetail__itemTxt f-aktiv">ベストセラーモデル「モアブ」をベースにし、ハイキングシューズの安定性とトレイルランニングシューズの軽快さを兼ね備えたモデル。全天候対応メンブレンは、雨の屋久島でも十分に対応してくれたし、ビブラム社のメレル専用コンパウンドソールは地形を選ばずしっかりとグリップ。街歩きでも違和感のないデザインで、荷物を減らしたい山旅にも最適な一足。</p>
          <div class="theBlueItemDetail__open"><a class="theBlueItemDetail__openA f-brandon" href="#">SHOW DETAILS</a></div>
        </div>
      </div>
      <footer class="theBlueFooter">
        <div class="theBlueFooter__textarea">
          <div class="theBlueFooter__title"><img src="/pages/img/common/theblue.svg" alt=""></div>
          <p class="theBlueFooter__subTtl">MOAB SPEED 2 GORE-TEX®といく、</p>
          <p class="theBlueFooter__ttl">2泊3日の屋久島への旅</p>
          <p class="theBlueFooter__issue"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.27 17.55"><defs><style>.nextIssueSvg{fill:#052b33;stroke-width:0px;}</style></defs><path class="nextIssueSvg" d="m5.64,2.54c-.11-.18-.25-.18-.29.04l-1.8,6.01c-.61,2.05-.54,2.9.22,2.9h.68c.14,0,.18.07.18.18l-.07.38c-.04.12-.04.16-.22.16s-.94-.05-2.16-.05-1.84.05-2.05.05c-.11,0-.14-.07-.13-.2l.05-.38c.04-.07.07-.14.18-.14h.4c.83,0,1.26-.61,1.8-2.21l2.2-6.95c.34-1.06-.04-1.57-.79-1.57h-.68c-.14,0-.18-.07-.14-.22l.07-.32c.04-.11.07-.18.22-.18.22,0,.94.05,3.06.05.32,0,.43.21.54.47l4,8.32c.14.22.22.18.36-.25l1.91-5.83c.47-1.46.32-2.04-.29-2.04h-.54c-.18,0-.22-.04-.18-.18l.04-.4c.04-.07.07-.14.18-.14.22,0,.79.05,2.05.05.94,0,1.3-.05,1.55-.05.18,0,.22.11.18.25l-.07.32c0,.11-.04.14-.14.14h-.47c-.43,0-.79.43-1.15,1.46l-3.31,9.47c-.11.29-.25.43-.36.47-.18,0-.36-.11-.47-.36L5.64,2.54Z"/><path class="nextIssueSvg" d="m20.96,10.37c.09.05.09.09.05.16-.4.65-1.62,1.8-3.2,1.8-1.19,0-1.91-.65-1.91-1.91,0-1.4.76-3.31,2.23-4.64.72-.65,1.73-1.12,2.7-1.12.83,0,1.26.54,1.26,1.06,0,.92-.61,1.75-1.66,2.32-.97.51-1.94.72-2.63.76-.07.18-.18.68-.18,1.33,0,.72.47,1.15.97,1.15.83,0,1.55-.54,1.94-1.08.04-.04.11-.07.14-.04l.27.2Zm-3.01-2.14c.32,0,1.19-.22,1.8-.69.4-.32.76-.86.76-1.37,0-.32-.14-.65-.54-.65-.9,0-1.8,1.73-2.02,2.7Z"/><path class="nextIssueSvg" d="m27.08,9.42h-.07c-.88,1.26-2.02,2.92-2.92,2.92-.43,0-.72-.21-.72-.68,0-.4.22-1.4.4-1.84.04-.07.07-.11.18-.07l.29.07c.07,0,.07.07.07.14-.29.97-.07,1.15.14,1.15.4,0,1.66-1.44,2.45-2.43l-.72-2.32c-.09-.32-.22-.4-.34-.4-.31,0-.7.61-1.1,1.33-.04.07-.11.11-.18.07l-.29-.12s-.04-.09-.04-.16c.07-.22,1.12-2.41,2.48-2.41.47,0,.74.29.94,1.04l.43,1.75h.07c.56-.81,1.19-1.71,1.55-2.11.29-.29.68-.69,1.31-.69.4,0,.61.29.61.65,0,.5-.22,1.4-.47,2.02-.04.07-.11.11-.18.07l-.23-.07c-.11-.04-.14-.07-.14-.14.25-.9.25-1.26-.07-1.26-.4,0-1.37,1.15-2.21,2.23l.77,2.56c.09.32.29.5.47.5.29,0,.97-1.01,1.08-1.22,0-.07.07-.07.14-.04l.25.11c.07.04.11.11.07.18-.22.4-1.08,2.09-2.45,2.09-.58,0-.86-.32-1.04-.97l-.54-1.95Z"/><path class="nextIssueSvg" d="m35.63,9.81c-.14.4-.32.83-.32,1.04,0,.18.11.32.32.32.41,0,1.53-.9,1.64-1.01.07-.07.11-.07.18,0l.2.22c.07.04.07.07.04.14-.22.29-1.84,1.8-3.46,1.8-.54,0-.76-.29-.76-.54,0-.32.07-.68.18-1.01l1.91-4.93h-1.33c-.11,0-.14-.04-.11-.18l.14-.47c.04-.11.07-.14.18-.14h1.39l.74-1.91c.07-.18.14-.22.47-.25.36-.04,1.08-.36,1.22-.47.11-.04.22-.11.29-.11.11,0,.18.18.11.36l-1.17,2.38h1.85c.07,0,.11.07.07.18l-.14.52c-.02.07-.07.09-.18.09h-1.87l-1.58,3.96Z"/><path class="nextIssueSvg" d="m47.85,9.85c-.25.69-.32.97-.32,1.15,0,.14.07.25.22.25.36-.04,1.3-1.01,1.4-1.15.04-.07.11-.07.16-.02l.2.2c.07.07.11.11.04.18-.11.14-1.37,1.87-3.33,1.87-.38,0-.52-.21-.52-.5,0-.36.29-1.21,1.01-3.21l.5-1.4c.18-.49.29-.83.29-1.04,0-.14-.07-.22-.22-.22-.29,0-1.12.94-1.37,1.22-.07.07-.14.07-.22,0l-.18-.16c-.07-.05-.11-.09-.07-.16.11-.11,1.73-2.2,3.31-2.2.43,0,.65.22.65.58s-.23,1.03-.54,1.87l-1.01,2.74Zm.31-8.34c0-.49.45-.97,1.01-.97.72,0,1.1.45,1.1.9,0,.41-.41,1.04-1.06,1.04-.72,0-1.04-.52-1.04-.97Z"/><path class="nextIssueSvg" d="m53,12.33c-1.19,0-1.8-.43-1.8-1.04,0-.43.29-.76.68-.76.43,0,.72.29.86.72.11.29.25.47.58.47.5,0,.9-.4.9-1.15.04-.61-.43-1.13-.81-1.78-.36-.61-.7-1.06-.67-1.82,0-1.15.97-2.3,2.67-2.3.61,0,1.4.25,1.4,1.01,0,.47-.29.76-.68.76-.32,0-.61-.14-.72-.61-.07-.21-.14-.5-.43-.5-.36,0-.76.25-.76,1.04,0,.61.63,1.35.83,1.62.36.48.68,1.12.68,1.94,0,1.4-1.12,2.41-2.74,2.41Z"/><path class="nextIssueSvg" d="m59.87,12.33c-1.19,0-1.8-.43-1.8-1.04,0-.43.29-.76.68-.76.43,0,.72.29.86.72.11.29.25.47.58.47.5,0,.9-.4.9-1.15.04-.61-.43-1.13-.81-1.78-.36-.61-.7-1.06-.67-1.82,0-1.15.97-2.3,2.67-2.3.61,0,1.4.25,1.4,1.01,0,.47-.29.76-.68.76-.32,0-.61-.14-.72-.61-.07-.21-.14-.5-.43-.5-.36,0-.76.25-.76,1.04,0,.61.63,1.35.83,1.62.36.48.68,1.12.68,1.94,0,1.4-1.12,2.41-2.74,2.41Z"/><path class="nextIssueSvg" d="m72.11,4.95c.04-.11.14-.11.25-.11h1.22c.18,0,.22.07.18.22l-1.26,3.67c-.5,1.44-.72,2.16-.72,2.27,0,.18.07.22.18.22.25,0,.94-.68,1.19-1.01.04-.07.11-.07.18-.02l.22.16s.04.11,0,.18c-.18.29-1.48,1.8-2.99,1.8-.36,0-.58-.21-.58-.54,0-.25.79-2.3.99-2.83l-.13-.07c-.72,1.03-2.45,3.44-4.21,3.44-.43,0-.83-.47-.83-.83,0-.68.43-1.62,1.17-3.26.5-1.12.77-1.96.77-2.21,0-.18-.14-.29-.32-.29-.29,0-.97.61-1.3.97-.04.07-.14.07-.2,0l-.2-.18s-.04-.07,0-.14c.29-.32,1.46-1.73,2.99-1.73.5,0,.76.4.76.76,0,.43-.34,1.39-1.03,3.01-.45,1.06-.85,2.04-.85,2.39,0,.18.14.29.29.29.61,0,2.38-2.12,2.85-2.88.32-.51.59-.97.83-1.66l.54-1.62Z"/><path class="nextIssueSvg" d="m80.92,10.37c.09.05.09.09.05.16-.4.65-1.62,1.8-3.2,1.8-1.19,0-1.91-.65-1.91-1.91,0-1.4.76-3.31,2.23-4.64.72-.65,1.73-1.12,2.7-1.12.83,0,1.26.54,1.26,1.06,0,.92-.61,1.75-1.66,2.32-.97.51-1.94.72-2.63.76-.07.18-.18.68-.18,1.33,0,.72.47,1.15.97,1.15.83,0,1.55-.54,1.94-1.08.04-.04.11-.07.14-.04l.27.2Zm-3.01-2.14c.32,0,1.19-.22,1.8-.69.4-.32.76-.86.76-1.37,0-.32-.14-.65-.54-.65-.9,0-1.8,1.73-2.02,2.7Z"/><path class="nextIssueSvg" d="m97.31,3.74c0,4-2.38,8.68-5.62,8.68-1.94,0-2.77-1.55-2.77-3.57,0-3.56,2.34-8.32,5.73-8.32,1.84,0,2.67,1.33,2.67,3.21Zm-6.81,6.12c0,1.12.4,1.77,1.12,1.77,2.12,0,4.14-6.45,4.14-8.71,0-1.01-.36-1.51-1.15-1.55-2.05,0-4.1,6.16-4.1,8.5Z"/><path class="nextIssueSvg" d="m107.79.81c.14,0,.25.04.25.18,0,.11-.07.18-.14.32-.11.14-1.33,2.2-1.91,3.35-.79,1.48-2.85,5.44-3.3,6.5-.31.72-.63,1.26-1.24,1.26-.43,0-.72-.29-.72-.72,0-.38.25-.81.43-1.1.25-.36,1.66-2.34,2.63-3.89.68-1.04,2.38-3.92,2.63-4.36h-3.53c-1.22,0-1.55.5-2.16,1.33-.07.11-.22.11-.32.04-.18-.14-.22-.18-.14-.29l1.55-3.06c.11-.21.14-.21.32-.18.18.07.18.11.14.25-.04.29.18.36.72.36h4.79Z"/><path class="nextIssueSvg" d="m109.34,11.18c0-.5.36-1.12,1.12-1.12.9,0,1.22.72,1.22,1.15,0,.58-.47,1.12-1.19,1.12s-1.15-.47-1.15-1.15Z"/><path class="nextIssueSvg" d="m123.63,3.74c0,4-2.38,8.68-5.62,8.68-1.94,0-2.77-1.55-2.77-3.57,0-3.56,2.34-8.32,5.73-8.32,1.84,0,2.67,1.33,2.67,3.21Zm-6.81,6.12c0,1.12.4,1.77,1.12,1.77,2.12,0,4.14-6.45,4.14-8.71,0-1.01-.36-1.51-1.15-1.55-2.05,0-4.1,6.16-4.1,8.5Z"/><path class="nextIssueSvg" d="m133.93,2.75c0,1.87-2.27,3.06-3.17,3.49.76.76,1.55,1.62,1.55,2.72,0,1.84-1.55,3.46-3.89,3.46-2.48,0-2.95-1.69-2.95-2.43,0-1.95,2.16-2.88,3.21-3.38-.58-.68-1.58-1.66-1.58-2.79,0-1.44,1.3-3.28,4.07-3.28,1.76,0,2.77,1.04,2.77,2.21Zm-6.91,7.26c0,1.12.76,1.84,1.55,1.84,1.58,0,1.98-1.48,1.98-2.07,0-1.26-.72-1.98-1.48-2.74-.94.47-2.05,1.22-2.05,2.97Zm5.4-7.09c0-.68-.43-1.73-1.69-1.73-1.15,0-1.94.79-1.94,1.96,0,.94.65,1.69,1.55,2.63,1.15-.61,2.09-1.44,2.09-2.86Z"/><path class="nextIssueSvg" d="m146.89,4.95c.04-.11.14-.11.25-.11h1.22c.18,0,.22.07.18.22l-1.26,3.67c-.5,1.44-.72,2.16-.72,2.27,0,.18.07.22.18.22.25,0,.94-.68,1.19-1.01.04-.07.11-.07.18-.02l.22.16s.04.11,0,.18c-.18.29-1.48,1.8-2.99,1.8-.36,0-.58-.21-.58-.54,0-.25.79-2.3.99-2.83l-.13-.07c-.72,1.03-2.45,3.44-4.21,3.44-.43,0-.83-.47-.83-.83,0-.68.43-1.62,1.17-3.26.5-1.12.77-1.96.77-2.21,0-.18-.14-.29-.32-.29-.29,0-.97.61-1.3.97-.04.07-.14.07-.2,0l-.2-.18s-.04-.07,0-.14c.29-.32,1.46-1.73,2.99-1.73.5,0,.76.4.76.76,0,.43-.34,1.39-1.03,3.01-.45,1.06-.85,2.04-.85,2.39,0,.18.14.29.29.29.61,0,2.38-2.12,2.84-2.88.32-.51.59-.97.83-1.66l.54-1.62Z"/><path class="nextIssueSvg" d="m151.24,15.68c-.32.94-.14,1.22.54,1.22h.5c.11,0,.14.07.11.16l-.09.38c-.02.07-.09.11-.23.11-.18,0-.72-.05-2.09-.05-1.48,0-1.94.05-2.16.05-.11,0-.14-.04-.13-.11l.09-.4c.04-.07.07-.14.14-.14h.43c.61,0,1.01-.38,1.37-1.4l3.37-9.54c-.85.22-1.75,1.04-2.07,1.48-.07.07-.14.07-.22.02l-.22-.16s-.04-.11,0-.18c.5-.61,1.37-1.58,2.84-2.12l.56-1.73c.04-.14.11-.21.29-.25l1.6-.5s.09-.04.14-.04c.04,0,.07.04.07.07,0,.04-.04.09-.05.14l-.9,2.02c.27-.04.49-.04.67-.04,1.73,0,2.63,1.12,2.63,2.39s-.58,2.58-2.2,3.76c-.86.61-2.3,1.19-3.78,1.33l-1.22,3.53Zm1.48-4.18c1.76-.27,4-1.8,4-3.98,0-1.46-.68-2-1.33-2-.18,0-.36,0-.54.05l-2.12,5.92Z"/><path class="nextIssueSvg" d="m169.67,0c.25,0,.32.18.27.3-.27.65-3.15,9.04-3.44,10.16-.11.54-.14.79.11.79.29,0,1.04-.79,1.15-.9.07-.07.14-.07.2-.02l.23.2s.04.11,0,.18c-.14.18-1.44,1.62-2.88,1.62-.4,0-.61-.14-.61-.47,0-.43.36-1.51.72-2.52l-.18-.07c-.86,1.4-2.27,3.06-3.56,3.06-.79,0-1.33-.72-1.33-1.47,0-1.26.83-3.31,2.32-4.81.47-.47,1.42-1.39,2.68-1.39.5,0,.97.22,1.28.58l1.21-3.91c.11-.32,0-.69-.47-.69h-.54c-.14,0-.18-.07-.14-.11l.07-.43c.04-.07.07-.11.29-.11h2.63Zm-4.57,5.31c-1.26,0-2.92,3.82-2.92,5.29,0,.4.22.61.47.61.54,0,1.58-1.3,2.27-2.27.5-.68,1.15-1.87,1.15-2.59,0-.56-.34-1.04-.97-1.04Z"/><path class="nextIssueSvg" d="m178.06,4.63c.11,0,.14.07.11.18-.32.76-1.19,3.06-1.33,3.53-.07.32-.76,2.41-.76,2.63,0,.18.07.21.22.21.25,0,.97-.86,1.12-1.04.07-.07.11-.11.18-.05l.22.16s.04.11,0,.22c-.18.36-1.44,1.87-2.84,1.87-.4,0-.58-.18-.58-.47,0-.25.11-.65.76-2.52l-.11-.04c-.76,1.12-2.23,3.02-3.71,3.02-.47,0-1.12-.54-1.12-1.29,0-2.41,2.52-6.38,4.93-6.38.79,0,1.15.32,1.37.61l.29-.5c.07-.11.18-.14.29-.14h.97Zm-2.7,3.17c.25-.5.43-1.04.43-1.62,0-.29-.32-.79-.83-.79-.47,0-1.01.43-1.48,1.1-1.01,1.42-1.51,3.04-1.51,4.05,0,.39.14.58.43.58.68,0,2.63-2.63,2.95-3.31Z"/><path class="nextIssueSvg" d="m182.27,9.81c-.14.4-.32.83-.32,1.04,0,.18.11.32.32.32.41,0,1.53-.9,1.64-1.01.07-.07.11-.07.18,0l.2.22c.07.04.07.07.04.14-.22.29-1.84,1.8-3.46,1.8-.54,0-.76-.29-.76-.54,0-.32.07-.68.18-1.01l1.91-4.93h-1.33c-.11,0-.14-.04-.11-.18l.14-.47c.04-.11.07-.14.18-.14h1.39l.74-1.91c.07-.18.14-.22.47-.25.36-.04,1.08-.36,1.22-.47.11-.04.22-.11.29-.11.11,0,.18.18.11.36l-1.17,2.38h1.85c.07,0,.11.07.07.18l-.14.52c-.02.07-.07.09-.18.09h-1.87l-1.58,3.96Z"/><path class="nextIssueSvg" d="m192.14,10.37c.09.05.09.09.05.16-.4.65-1.62,1.8-3.2,1.8-1.19,0-1.91-.65-1.91-1.91,0-1.4.76-3.31,2.23-4.64.72-.65,1.73-1.12,2.7-1.12.83,0,1.26.54,1.26,1.06,0,.92-.61,1.75-1.66,2.32-.97.51-1.94.72-2.63.76-.07.18-.18.68-.18,1.33,0,.72.47,1.15.97,1.15.83,0,1.55-.54,1.94-1.08.04-.04.11-.07.14-.04l.27.2Zm-3.01-2.14c.32,0,1.19-.22,1.8-.69.4-.32.76-.86.76-1.37,0-.32-.14-.65-.54-.65-.9,0-1.8,1.73-2.02,2.7Z"/></svg></p>
          <div class="theBlueFooter__dayLinks">
            <div class="theBlueFooter__dayLink">
              <p class="theBlueFooter__dayLinkA theBlueFooter__dayLinkA--1 f-brandon"><span class="theBlueFooter__daySpan">DAY.</span>1-2</p>
            </div>
            <div class="theBlueFooter__border"></div>
            <div class="theBlueFooter__dayLink">
              <p class="theBlueFooter__dayLinkA theBlueFooter__dayLinkA--2 f-brandon theBlueFooter__dayLinkA--gray"><span class="theBlueFooter__daySpan">DAY.</span>3</p>
            </div>
          </div>
        </div>
        <div class="theBlueFooter__credit f-aktiv f-gray"><span class="theBlueFooter__creditJob">Model</span><span class="theBlueFooter__creditName">Sho Masuda</span><br><span class="theBlueFooter__creditJob">Styling</span><span class="theBlueFooter__creditName">Kazumasa Chikazawa</span><br><span class="theBlueFooter__creditJob">Text&Editing</span><span class="theBlueFooter__creditName">Takashi Sakurai</span><br><span class="theBlueFooter__creditJob">Photographs</span><span class="theBlueFooter__creditName">Shinichi Yajima</span><br><span class="theBlueFooter__creditJob">Design</span><span class="theBlueFooter__creditName">Takanobu Higuchi（THD）</span><br><span class="theBlueFooter__creditJob">Development</span><span class="theBlueFooter__creditName">past inc.</span></div>
        <div class="theBlueFooter__imagearea inview">
          <div class="theBlueFooter__image">
            <picture>
              <source media="(max-width:736px)" srcset="/pages/img/day1-2/footer-sp.jpg"><img src="/pages/img/day1-2/footer.jpg" alt="">
            </picture>
          </div>
          <div class="theBlueFooter__lead">
            <picture>
              <source media="(max-width:736px)" srcset="/pages/img/common/lead_footer-sp.svg"><img src="/pages/img/common/lead_footer.svg" alt="屋久島旅、最終日。空の蒼は見られるのか。">
            </picture>
          </div>
          <div class="theBlueFooter__logo"><img src="/pages/img/common/logo.svg" alt=""></div>
          <p class="theBlueFooter__copy f-aktiv">&copy;2024 MERRELL ALL RIGHTS RESERVED</p>
        </div>
      </footer>
    </div>
    <div class="theBlueItemDetailModal">
      <div class="theBlueItemDetailModal__inner">
        <div class="theBlueItemDetailModal__bg"></div>
        <div class="theBlueItemDetailModal__wrapper">
          <div class="theBlueItemDetailModal__closeBox">
            <div class="theBlueItemDetailModal__close"><a class="theBlueItemDetailModal__closeA" href=""><img src="/pages/img/common/modal_close.svg" alt="CLOSE"></a></div>
          </div>
          <div class="theBlueItemDetailModal__box">
            <div class="theBlueItemDetailModal__left"><img src="/pages/img/day1-2/modalPh_1.jpg"></div>
            <div class="theBlueItemDetailModal__right">
              <div class="theBlueItemDetailModal__rightPhs">
                <div class="theBlueItemDetailModal__rightPh"><img src="/pages/img/day1-2/modalPh_2.jpg"></div>
                <div class="theBlueItemDetailModal__rightPh"><img src="/pages/img/day1-2/modalPh_3.jpg"></div>
              </div>
              <div class="theBlueItemDetailModal__rightBottom">
                <div class="theBlueItemDetailModal__rightTxtBox">
                  <p class="theBlueItemDetailModal__itemNameEn">MOAB SPEED 2 GORE-TEX®</p>
                  <p class="theBlueItemDetailModal__itemNameJa f-aktiv">モアブ スピード 2 ゴアテックス®</p>
                  <p class="theBlueItemDetailModal__itemTxt f-aktiv">ベストセラーモデル「モアブ」をベースにし、ハイキングシューズの安定性とトレイルランニングシューズの軽快さを兼ね備えたモデル。全天候対応メンブレンは、雨の屋久島でも十分に対応してくれたし、ビブラム社のメレル専用コンパウンドソールは地形を選ばずしっかりとグリップ。街歩きでも違和感のないデザインで、荷物を減らしたい山旅にも最適な一足。</p>
                </div>
                <div class="theBlueItemDetailModal__olLink"><a class="theBlueItemDetailModal__olLinkA" href="https://merrell.jp/products/mens_moab-speed-2-gore-tex" target="_blank"><svg id="_レイヤー_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><defs><style>.onlineShopLinkSvg1,.onlineShopLinkSvg2{fill:none;}.onlineShopLinkSvg1,.onlineShopLinkSvg3{stroke-width:0px;}.onlineShopLinkSvg2{stroke:#052b33;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}.onlineShopLinkSvg3{fill:#052b33;}</style></defs><g id="POP_UP"><circle class="onlineShopLinkSvg1" cx="75" cy="75" r="75"/><path class="onlineShopLinkSvg3" d="m46.65,44.41c3.6,0,6.48,2.9,6.48,6.5s-2.88,6.46-6.48,6.46-6.46-2.86-6.46-6.46,2.86-6.5,6.46-6.5Zm0,10.62c2.27,0,4.14-1.86,4.14-4.12s-1.87-4.16-4.14-4.16-4.12,1.89-4.12,4.16,1.86,4.12,4.12,4.12Z"/><path class="onlineShopLinkSvg3" d="m56.75,44.73c0-.18.16-.32.34-.32h.45l7.49,7.96h.02v-7.44c0-.18.14-.34.34-.34h1.66c.18,0,.34.16.34.34v12.12c0,.18-.16.32-.34.32h-.43l-7.53-8.26h-.02v7.74c0,.18-.14.34-.34.34h-1.64c-.18,0-.34-.16-.34-.34v-12.12Z"/><path class="onlineShopLinkSvg3" d="m71.92,44.93c0-.18.14-.34.34-.34h1.66c.18,0,.34.16.34.34v10.1h4.59c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-6.59c-.2,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m82.28,44.93c0-.18.16-.34.34-.34h1.67c.18,0,.34.16.34.34v11.92c0,.18-.16.34-.34.34h-1.67c-.18,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m89.17,44.73c0-.18.16-.32.34-.32h.45l7.49,7.96h.02v-7.44c0-.18.14-.34.34-.34h1.66c.18,0,.34.16.34.34v12.12c0,.18-.16.32-.34.32h-.43l-7.53-8.26h-.02v7.74c0,.18-.14.34-.34.34h-1.64c-.18,0-.34-.16-.34-.34v-12.12Z"/><path class="onlineShopLinkSvg3" d="m104.34,44.93c0-.18.14-.34.34-.34h7.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-5.33v2.95h4.45c.18,0,.34.16.34.34v1.5c0,.2-.16.34-.34.34h-4.45v3.15h5.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-7.33c-.2,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m40.35,79.43l.65-1.12c.14-.25.45-.25.61-.13.09.05,1.55,1.12,2.72,1.12.94,0,1.64-.61,1.64-1.39,0-.92-.77-1.55-2.29-2.16-1.69-.68-3.38-1.76-3.38-3.89,0-1.6,1.19-3.46,4.05-3.46,1.84,0,3.24.94,3.6,1.21.18.11.23.41.11.59l-.68,1.03c-.14.22-.41.36-.63.22-.14-.09-1.51-.99-2.5-.99s-1.58.68-1.58,1.26c0,.85.67,1.42,2.12,2.02,1.75.7,3.76,1.75,3.76,4.07,0,1.85-1.6,3.56-4.14,3.56-2.27,0-3.6-1.06-3.96-1.4-.16-.16-.25-.25-.09-.54Z"/><path class="onlineShopLinkSvg3" d="m52.11,68.93c0-.18.16-.34.34-.34h1.67c.2,0,.34.16.34.34v4.77h5.87v-4.77c0-.18.14-.34.34-.34h1.66c.18,0,.34.16.34.34v11.92c0,.18-.16.34-.34.34h-1.66c-.2,0-.34-.16-.34-.34v-4.97h-5.87v4.97c0,.18-.14.34-.34.34h-1.67c-.18,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m72.77,68.41c3.6,0,6.48,2.9,6.48,6.5s-2.88,6.46-6.48,6.46-6.46-2.86-6.46-6.46,2.86-6.5,6.46-6.5Zm0,10.62c2.27,0,4.14-1.86,4.14-4.12s-1.87-4.16-4.14-4.16-4.12,1.89-4.12,4.16,1.86,4.12,4.12,4.12Z"/><path class="onlineShopLinkSvg3" d="m82.87,68.93c0-.18.14-.34.34-.34h4.23c2.21,0,4.03,1.8,4.03,3.98s-1.82,4.05-4.02,4.05h-2.25v4.23c0,.18-.16.34-.34.34h-1.66c-.2,0-.34-.16-.34-.34v-11.92Zm4.43,5.49c1.01,0,1.86-.81,1.86-1.87,0-.99-.85-1.75-1.86-1.75h-2.09v3.62h2.09Z"/><path class="onlineShopLinkSvg3" d="m41.09,92.93c0-.18.16-.34.34-.34h1.67c.2,0,.34.16.34.34v4.77h5.87v-4.77c0-.18.14-.34.34-.34h1.66c.18,0,.34.16.34.34v11.92c0,.18-.16.34-.34.34h-1.66c-.2,0-.34-.16-.34-.34v-4.97h-5.87v4.97c0,.18-.14.34-.34.34h-1.67c-.18,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m56.19,92.93c0-.18.14-.34.34-.34h7.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-5.33v2.95h4.45c.18,0,.34.16.34.34v1.5c0,.2-.16.34-.34.34h-4.45v3.15h5.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-7.33c-.2,0-.34-.16-.34-.34v-11.92Z"/><path class="onlineShopLinkSvg3" d="m68.04,92.93c0-.18.14-.34.34-.34h5.15c2.16,0,3.93,1.73,3.93,3.87,0,1.66-1.1,3.01-2.66,3.64l2.47,4.57c.12.23,0,.52-.31.52h-1.89c-.16,0-.25-.09-.29-.16l-2.39-4.77h-2v4.59c0,.18-.16.34-.34.34h-1.66c-.2,0-.34-.16-.34-.34v-11.92Zm5.29,5.4c.96,0,1.78-.83,1.78-1.84,0-.95-.83-1.75-1.78-1.75h-2.94v3.58h2.94Z"/><path class="onlineShopLinkSvg3" d="m81.29,92.93c0-.18.14-.34.34-.34h7.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-5.33v2.95h4.45c.18,0,.34.16.34.34v1.5c0,.2-.16.34-.34.34h-4.45v3.15h5.33c.2,0,.34.16.34.34v1.48c0,.18-.14.34-.34.34h-7.33c-.2,0-.34-.16-.34-.34v-11.92Z"/><line class="onlineShopLinkSvg2" x1="96.44" y1="104.48" x2="102" y2="99.09"/><polyline class="onlineShopLinkSvg2" points="104.9 104.18 107.89 93.02 96.73 96.01"/></g></svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="{{ 'background.png' | asset_url | image_url: format: 'png' }}" alt="">
    <!-- js 読み込み-->
    <script src="https://cdn.shopify.com/s/files/1/0674/9936/0303/files/index.js?v=1771554837" type="text/javascript" charset="UTF-8"></script>
  </body>
</html>
